body {
    font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
    max-width: 700px;
    box-sizing: content-box;
    padding: 2em;
    margin: 0 auto;
    background-color: #F6F6F6;
    color: #202020;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
}

#isso-thread > h4 {
    color: #555;
    font-weight: bold;
}

#isso-thread .textarea.placeholder {
    color: #AAA;
}

#isso-thread .textarea {
    min-height: 58px;
    outline: 0;
}

.isso-postbox > .form-wrapper .textarea {
    /*margin: 0 0 .3em;*/
    padding: .4em .8em;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.isso-postbox > .form-wrapper > .auth-section {
    display: block;
    width: 100%;
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper{
    display: inline-block;
    max-width: 100%;
    background-color: #fff;
    line-height: 1.4em;
    margin-right: 1em;
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
    padding: .3em 10px;
    /*max-width: 100%;*/
    /*border-radius: 3px;*/
    /*background-color: #fff;*/
    line-height: 1.4em;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
}

.isso-postbox > .form-wrapper > .auth-section .post-action {
    display: inline-block;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input {
    padding: calc(.3em - 1px);
    border-radius: 2px;
    border: 1px solid #CCC;
    background-color: #DDD;
    cursor: pointer;
    outline: 0;
    line-height: 1.4em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}