body {
    font-family: Source Code Pro, Menlo, Monaco, Consolas, monospace, monospace;
    color: #202020;
    background-color: #FCFCFC;
    margin: 0 auto;
    max-width: 700px;
    box-sizing: content-box;
    padding: 2em;
    line-height: 1.4;
    text-align: justify;
}