body {
    font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
    max-width: 700px;
    box-sizing: content-box;
    padding: 2em;
    margin: 0 auto;
    background-color: #F6F6F6;
    color: #202020;
}